 * {
   box-sizing: border-box;
 
  }
 body {
  background-color: rgba(204, 196, 196, 0.664);
}

 .carousel-inner {
   height: 250px;
 }

 .new{
  display: flex;
  margin: 6px;
 }
 .box{
  display: inline-block;
  height: 20rem;
  width: 18.5rem;
  margin: 8px;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box .column-image {
  width: 100%;
  height:auto;
  padding: 15px 0;
  /* Adjust the padding as needed */
}

.container .column a {
  color: blue;
}

.box p{
  text-align: center;
}
 .link {
  color: black;
  font-size: 21px !important;
  font-weight: 700;
  text-decoration: none;
  text-align: center !important;
  margin: 5px;
}
 
 section h2 span {
   padding: 10px 55px;
   border-radius: 20px;
   color: #fff;
   font-size: 30px;
   background: #120f5e;
   /* fallback for old browsers */
   background: linear-gradient(to right, #f5d837, #bbb812);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 section h2 {
   margin-bottom: 50px;
 }

 .our_founder {
   text-align: center;
   height: 100%;
   padding: 75px 0px;
   min-height: 40vh;
   background-color: rgba(204, 196, 196, 0.664);
 }

 .profile_img {
   border-radius: 50%;
 }

 .profile_name {
   font-size: 2em;
   font-weight: 900;
   letter-spacing: 4px;
   word-spacing: 10px;
   text-transform: uppercase;
   margin: 20px 0px 30px 0px;
 }

 .about_content {
   justify-content: center;
   color: #1c1a3a;
   font-weight: 600;
   padding-bottom: 10px 0px 20px 0px;
 }

 .about_title {
   font-size: 1.45em;
   padding: 0px 10px;
   color: #120f5e;
 }

 .about_us {
   margin: 50px;
 }

 .sm-handle {
   display: flex;
   justify-content: center;
 }

 .sm-handle a {
   padding: 10px 15px;
   border-radius: 30px;
   margin: 5px 10px;
   background-color: rgb(125 125 125 / 25%);
   text-decoration: none;
 }

 .sm-handle a:hover {
   background-color: rgb(30 30 30 / 25%);
 }

 .yt_handle {
   color: #e62117;
 }

 .linkdn_handle {
   color: #0e76a8;
 }

 .insta_handle {
   color: #dd2a7b;
 }

 footer {
   width: 100%;
   margin: 0;
 }


 footer {
   background-color: #333;
   color: white;
   padding: 20px 0;
 }

 .container {
  display: flex;
  width: 100%;
  height: 100%; 
}
 .footer-column {
   background-color: #333;
   border: 2px solid #333;
   box-sizing: border-box;
   padding: 15px;
   margin: 30px 5px;
   width: 100%;
   /* Adjust the width as needed */
   height: 100%;
 }

 .footer-column2 {
   background-color: #333;
   border: 2px solid #333;
   box-sizing: border-box;
   padding: 15px;
   margin: 30px 5px;
   width: 100%;
   /* Adjust the width as needed */
   height: 100%;
 }

 .footer-column3 {
   background-color: #333;
   border: 2px solid #333;
   box-sizing: border-box;
   padding: 15px;
   margin: 30px 5px;
   width: 100%;
   /* Adjust the width as needed */
   height: 100%;
 }

 .footer-column h3 {
   color: #FF9900;
   text-align: left;
 }

 .footer-column p,
 .footer-column ul {
   list-style: none;
   padding: 0;
   text-align: left;
 }

 .footer-column a {
   color: white;
   text-decoration: none;
 }

 .footer-column2 h3 {
   color: #FF9900;
   text-align: center;
 }

 .footer-column2 a {
   color: white;
   text-decoration: none;
 }

 .footer-column2 .icons {
   text-align: center;
   padding: 10px;
   padding-right: 1px;

 }

 .footer-column3 h3 {
   color: #FF9900;
   text-align: center;
 }

 .footer-column3 ul {
   list-style: none;
   padding-left: 140px;
   text-align: left;
 }

 .footer-column3 a {
   color: white;
   text-decoration: none;
 }

 .footer-bottom {
   text-align: center;
   margin-top: 20px;
 }

 .fa-instagram {
   height: 20px;
   width: 20px;
   font-size: 20px;
 }

 .fa-youtube {
   height: 20px;
   width: 20px;
   font-size: 20px;
 }

 .fa-facebook {
   height: 20px;
   width: 20px;
   font-size: 20px;
 }

 .fa-snapchat {
   height: 20px;
   width: 20px;
   font-size: 20px;
 }

 /*course page*/
 section.course{
  padding: 15px;
  background-color:#fff;
 }

 section select{
  border: 1px solid grey;
  border-radius: 2rem;
  font-size: 13px;
  padding: 4px;
  background-color:rgba(241, 240, 238, 0.438);
 }

 .section2 h3 a{
  text-decoration: none;
  color: white;
 }

 .section2 h3{
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  background-color: black;
  padding: 8px;
 }

 .container-sort{
  display: flex;
  justify-content: right;
 }
 .container-course {
   display: flex;
   width: 100%;
   height: 60%;
 }

 .column-course {
   background-color: white;
   border: 2px solid ghostwhite;
   box-sizing: border-box;
   padding: 15px;
   width: 100%;
   /* Adjust the width as needed */
   height: 100%;
 }

 .container-img {
   float: left;
   margin: 15px;
   width: 250px;
   height: 310px;
   padding-left: 20px;
   padding-top: 30px;
   padding-right: 30px;
   background-color: grey;
 }

 .duration h5{
  font-size: 20px;
 }

 .heading-box {
   display: inline-block;
   background-color: greenyellow;
   /* Replace with your desired color */
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   margin-top: -5px;

 }

 .heading-box h6 {
   font-size: 12px;
   font-weight: bold;
 }

 .price {
   font-size: 25px;
   color: gray;
   font-weight: bold;
   text-align: center;
   padding-left: 50px;
   margin-left: 20px;
   padding-top: 0;
 }

 .actual-price {
   font-size: 35px;
   color: black;
   text-align: center;
   font-weight: 900;
   margin-left: 75px;
   margin-top: -30px;
 }


 .btn-primary {
   margin-left: 25px;
   border-radius: 10px;
 }

 .btn-danger {
   margin-left: 15px;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
 }

 .section3 {
   margin-top: -10px;
 }

 /*course page*/

 /*freecourse page*/

.free h1{
  color: white;
  background-color: black;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.courses_list{
  list-style: none;
}

.list{
  border: 2px solid black;
  border-radius: 20px;
  padding: 15px;
}

.list a{
  text-decoration: none;
  font-size: 2rem;
  color: black;
  padding: 20px;
  text-transform: uppercase;
}
 /*freecourse page*/